<form method="post" action="/output22">
    first name:<br>
    <input type="text" name="firstname"><br>
    last name:<br>
    <input type="text" name="lastname"><br>
    Age:<br>
    <input type="number" value="Age"><br>
    Username :<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="password" value="password"><br>
    <input type="submit" value="submit"><br>
</form>
