<form method="post" id="signup-form" action="/signup">
    first name:<br>
    <input type="text" name="firstname"><br>
    last name:<br>
    <input type="text" name="lastname"><br>
    Email:<br>
    <input type="email" name="email"><br>
    Mobile:<br>
    <input type="number" value="mob"><br>
    Username :<br>
    <input type="text"  name="username"><br>
    Password:<br>
    <input type="password"   name="password"><br>
    confirm password:<br>
    <input type="password"  name="confirm_password"><br>
    <input type="submit" value="submit"><br>
</form>
